@import url(css/variables.css);
html {
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: var(--body-font);
  background-color: var(--bcg-color);
  color: var(--txt-color);
}
main {
  display: flex;
  flex-direction: column;
}
/* ==== HEADER ==== */
header {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  padding: 1.6rem 3.2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--bcg-color);
  height: 8rem;
}
nav {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}
header a:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.button-container {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}
/* ==== SECTIONS ==== */
/* Hero section */
#hero {
  height: calc(100vh - 8rem);
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 0rem 8rem;
  position: relative;
}
.hero-container {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  justify-content: center;
  width: fit-content;
}
.socials {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 8rem;
  margin-bottom: 2.4rem;
  display: flex;
  gap: 2.4rem;
  font-size: 2.4rem;
}
.socials i:hover {
  color: var(--primary-color);
  cursor: pointer;
  transform: scale(1.1);
}
.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.hero-buttons-container {
  display: flex;
  gap: 4rem;
  justify-content: center;
}
.hero-buttons-container button {
  padding: 0.8rem 1.6rem;
  border: 2px solid white;
  border-radius: 1.6rem;
  font-weight: 700;
  font-size: 1.8rem;
  margin-top: 3.2rem;
}
.hero-buttons-container button:first-child {
  background-color: var(--secondary-color);
}
.hero-buttons-container button:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}
.hero-container h2 {
  font-size: 1.8rem;
  color: #ccc8c1;
}
#about,
#skills,
#contact,
#projects,
footer {
  padding: 8rem;
}
/* About section */
.section-container {
  display: flex;
  justify-content: space-between;
  gap: 3.2rem;
}
.section-container img {
  width: 50rem;
}
.section-heading {
  font-size: 2.4rem;
  font-family: var(--heading-font);
  border-bottom: 1px solid var(--primary-color);
  margin-bottom: 3.2rem;
}
.about-description {
  max-width: 75ch;
  min-width: 50ch;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  gap: 2.4rem;
}
/* Project section */
.card-container {
  display: flex;
  gap: 3.2rem;
}
.card {
  background-color: #1c2426;
  padding: 1.6rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  transition: transform 0.3s ease-in-out;
}
.card-desc {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 1.4rem;
}
.card-title {
  font-size: 1.6rem;
  font-weight: 600;
}
.card-container .card:hover {
  transform: scale(1.1);
}
/* Skills section */
.skills-container {
  display: flex;
  gap: 3.2rem;
}
.skill-card {
  flex: 1;
}
.skills {
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
}
.skills span {
  padding: 0.4rem 1.2rem;
  border: 1px solid white;
  border-radius: 2.4rem;
}
/* Contact section */
.contact-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.contact-socials {
  display: flex;
  gap: 2.4rem;
  font-size: 2.4rem;
}
.contact-socials i:hover {
  color: var(--primary-color);
  cursor: pointer;
  transform: scale(1.1);
}
.email {
  font-size: 1.6rem;
  font-weight: 600;
}
/* ==== COMPONENTS ==== */
.logo,
.heading,
.body {
  font-size: 3.2rem;
  letter-spacing: 0.24px;
}
.logo {
  font-family: var(--logo-font);
  letter-spacing: 1.24px;
}
.heading {
  font-family: var(--heading-font);
  font-style: italic;
  font-size: 4.2rem;
  letter-spacing: 1.24px;
}
.body {
  font-family: var(--body-font);
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
